fastapi
uvicorn
sqlalchemy
pymysql
pandas
openpyxl
jinja2
aiofiles
python-dotenv


# & C:\Users\Mechanical Engineer\Desktop\nms-upgrade\nms-platform-upgrade\.venv\Scripts\python.exe -m uvicorn app.main:app --reload --host 127.0.0.1 --port 8001
# & C:\Users\Mechanical Engineer\Desktop\nms-upgrade\nms-platform-upgrade\.venv\Scripts\python.exe -m uvicorn app.main:app --reload --host 0.0.0.0 --port 8001
# SQLAlchemy MySQL Driver
# pip install pymysql